.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

.fundo-primary {
  background-color: #12242F;
}

.img-inicial {
  max-width: 200px;
}

.hover-nav .hover-item {
  position: relative;
}

.hover-nav .hover-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #0B5ED7;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-nav .hover-item:hover::after {
  transform: scaleX(1);
}

.hover-nav .hover-link {
  padding-bottom: 5px;
}

.invert-on-hover {
  transition: filter 0.3s;
  background-color: transparent;
}

.invert-on-hover:hover {
  filter: brightness(0) invert(1);
}

.accordion,
.accordion-item {
  border: none;
}

.hover-zoom {
  transition: transform 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.1);
}

.navbar-toggler-icon.light {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .modal.custom .modal-dialog {
    width: 90%;
    max-width: 400px; /* Defina um máximo para evitar que o modal fique muito largo em telas maiores */
    position: fixed;
    top: 50%;
    left: -90%; /* Altere para -90% para manter a transição da esquerda para a direita */
    transform: translate(-56%, -80%);
    transition: left 0.3s ease; /* Adicione a transição aqui para garantir a direção correta */
  }

  .modal.custom.show .modal-dialog {
    left: 50%; /* Altere para 50% para manter a transição da esquerda para a direita quando o modal estiver visível */
  }
}


@media (min-width: 960px) {
  .container {
    padding-right: 150px;
    padding-left: 150px;
  }
}